<!DOCTYPE html>
<html ng-app="appModule" ng-controller="TestController">
<head lang="en">
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <meta charset="UTF-8">
    <title>Fake title</title>
</head>
<body>

<table>
    <tr ng-repeat="book in books">
        <td>{{book.title}}</td>
        <td><a href="#/phones/{{book.title}}" class="thumb"><img ng-src="{{book.path}}" ng-click="changeTitle(book, 'caca-maca')"></a></td>
    </tr>
</table>

</body>
</html>